# Arquivos do Python
*.pyc
*.pyo
*.pyd
__pycache__/

# Ambiente virtual
venv/
env/
.venv/
.env/

# Arquivos de banco de dados
db.sqlite3
*.sqlite3

# Arquivos de configuração sensíveis
*.env

# Diretórios de mídia (arquivos enviados pelo usuário)
media/

# Diretório de arquivos estáticos gerados (após rodar collectstatic)
static/

# Arquivos de log
*.log

# Arquivos de tradução (caso utilize internacionalização)
*.pot
*.mo
*.po
